*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: "Poppins";
}

.header{
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px;
}

.nav-info{
    margin: 5px;
    padding: 5px;
    width: 500px;
}

.save-info{
    margin: 5px;
    padding: 5px;
    width: 900px;
}

.click-here{
    height: 40px;
    width: 100px;
    border-radius: 40px;
    color: white;
    background-color: #006edc;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding: 7.5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.form-container{
    box-shadow: 0px 0px 14px 3px #006edc;
}

input,textarea{
    border-color: #006edc;
}